
.content{
    background-color: blue;
    width: 500px;
}
h3 {
    font-size: 24px;
    color: whitesmoke;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  img {
    max-width: 500px;
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  a {
    text-decoration: none;
    color: #007bff; 
    transition: color 0.3s ease;
  }
  
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
  }
  
  .button:hover {
    background-color: #0056b3; 
  }