.ahorcado-container {
    font-family: "Poppins", sans-serif;
    background-color: rgb(47, 35, 35);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  
  .juego-contenedor {
    padding-top: 1rem;
  }
  
  .contenedor-botones {
    padding-top: 3rem;
  }
  
  .titulo-ahorcado {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    width: max-content;
    display: block;
    margin: 0 auto;
    background-color: rgba(110, 11, 156, 0.87);
    padding: 5px 15px;
    margin-top: 0.5rem;
    border-radius: 20px;
    box-shadow: 0 0 8px rgb(192, 28, 233);
    margin-top: 80px;
    margin-bottom: 1rem;
  }
  
  .palabra-adivinar {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .palabra-adivinar h1 {
    margin-right: 10px;
  }

  .col-md-12.text-center {
    display: flex;
    flex-direction: row; /* Esto establecerá la dirección horizontal */
    justify-content: center; /* Esto centrará el contenido horizontalmente */
    align-items: center; /* Esto centrará el contenido verticalmente si es necesario */
  }
  
  .intentos {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
  }
  
  .puntaje {
    font-size: 1rem;
  }

  
  /* ****************************************************************** */
  /* ****************************************************************** */
  /* ****************************************************************** */
  /* ****************************************************************** */
  
  /* From uiverse.io */
  .btn-letra {
    padding: 1em 2em;
    font-size: 12px;
    /* letter-spacing: 2.5px; */
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 0.5rem;
  }
  
  .btn-letra:hover {
    background-color: #7a3bb4;
    box-shadow: 0px 15px 20px rgba(196, 2, 255, 0.8);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .btn-letra:active {
    transform: translateY(-1px);
  }
  
  /* ****************************************************************** */
  /* ****************************************************************** */
  /* ****************************************************************** */
  /* ****************************************************************** */
  
  /* From uiverse.io */
  .btn-reiniciar {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(146, 19, 158);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto 0.5rem auto;
  }

  .btn-volver {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(146, 19, 158);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto 0.5rem auto;
  }
  
  .btn-reiniciar:hover {
    background-color: #161718;
    box-shadow: 0px 15px 20px rgba(138, 171, 201, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .btn-volver:hover {
    background-color: #9f1b24;
    box-shadow: 0px 15px 20px rgba(138, 171, 201, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .btn-reiniciar:active {
    transform: translateY(-1px);
  }

  .btn-volver:active {
    transform: translateY(-1px);
  }
  
  // Responsive design
  
  @media screen and (max-width: 480px) {
  
    .contenedor-botones {
      padding-top: 1rem;
    }
  
    .btn-letra {
      padding: 0.7em 1.5em;
      font-size: 9px;
      font-weight: bolder;
    }
  }
  