<body>
    <header>
        <h1>Portal de Login</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="login/login-access.php" method="post">
            <div class="form_div">
                <label>Mail:</label>
                <input class="field_class" [(ngModel)]="mailText" name="login_txt" type="text" placeholder="Ingrese el correo electronico" autofocus>
                <label>Contraseña:</label>
                <input id="pass" class="field_class" [(ngModel)]="contraseniaText" name="password_txt" type="password" placeholder="Ingrese la contraseña">
                <button class="submit_class" type="submit" form="login_form" (click)="loginEvent()">Entrar</button>
                <button class="submit_class" type="submit" form="login_form" (click)="accesoRapidoUno()">Acceso Rapido 1</button>
                <button class="submit_class" type="submit" form="login_form" (click)="accesoRapidoDos()">Acceso Rapido 2</button>
            </div>
            <div class="info_div">
                <p>No tiene cuenta? <a href="/registro">Registrese!</a></p>
            </div>
        </form>
    </main>
    <footer>
        <p><a href="/quiensoy">Quien soy?</a></p>
    </footer>
</body>